label{
  cursor: pointer;
}

body{
  padding: 0;
  margin: 0;
  min-width: 900px;
}

#personalInfo td:first-child{
  text-align: right;
}

#personalInfo tr:last-child td:last-child textarea{
  width: 183px;
}

#personalInfoErrorMessages,
#creditCardInfoErrorMessages,
#formButtonsErrorMessages{
  display: None;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #ffcccc;
  text-align: center;

}
#totalAmount{
  border: black solid 1px;
  font-size: 1.5em;
  padding: 8px;
  margin: 16px;
}

#total{
  display: inline;
}

table{
  margin-left: auto;
  margin-right: auto;
}

#items td{
text-align: center;
}

#creditCardInfo{
  text-align: center;
}

#creditCardType{
  margin-top: 16px;
}
#formButtons{
  margin: 16px;
  text-align: center;
}

#formButtons input{
  margin: 10px;
  height: 35px;
  width: 35%;
}

#finePrint{
  font-size: x-small;
  font-family: monospace;
}

span{
  font-size: large;
  font-family: sans-serif;
}

.mainContect h1{
  border-bottom: #9966ff solid 2px;
}

.mainContect{
  min-height: 600px;
}

#navagation{
  width: 900px;
  display: inline-block;
}

.topnav nav ul{
  float: left;
  padding-left: 5px;
  margin-top: 0px;
}

table img{
  display: inline-block;
  height: 100px;
  width: 100px;
}
