#SearchForm{
  box-sizing: border-box;
  width: 150px;
}

#SearchForm * {
  box-sizing: border-box;
}

#SearchForm input{
  width: 75%;
}

#SearchForm input{
  width: 75%;
}
#SearchForm #ResetButton,#SubmitButton{
  width: 10%;
}
