:root {
  --Common-Color: #a6a6a6;
  --Uncommon-Color: #00ccff;
  --Rare-Color: #ffa600;
  --Legendary-Color: #cc00ff;
}

.common {
  color : var(--Common-Color);
}
.Uncommon {
  color : var(--Uncommon-Color);
}
.Rare {
  color : var(--Rare-Color);
}
.Legendary{
  color : var(--Legendary-Color);
}
