div{
  height: 100px;
}

div[id^="div"]:hover{
  font-weight: bold;
}

#div1{
  background-color: #00c8f8;
  font-size: 12px;
}

#div2{
  background-color: #eeeeee;
  font-size: 16px;
}

#div3{
  background-color: #00b2dd;
  font-size: 20px;
}

form{
  padding: 15px 0 15px 0;
}
